@font-face {
    font-family: 'Beautifully Delicious Script';
    src: url('beautifully-delicious-script.woff2') format('woff2'),
         url('beautifully-delicious-script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-bg-color: #D6C6B6; /* Replace with your desired background color */
    --border-color: #ffffff; /* White border color */
    --script-font-family: 'Beautifully Delicious Script';
}

@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.navbar {
    display: flex;
    justify-content: space-between; /* Adjust space between items */
    align-items: center; /* Align items vertically in the center */
    margin: 20px; /* Add some margin around the container */
}

/* Style individual boxes */
.box {
    flex: 1; /* Allow boxes to grow and fill the container equally */
    margin: 10px; /* Add some margin between boxes */
    padding: 20px; /* Add some padding inside the boxes */
    text-align: center; /* Center text inside the boxes */
}
    
h1, h2, h3, h4 {
    color: white;
}

.alta-font {
    font-family: 'Alta Regular Font', monospace;
}

.forum-font {
    font-family: 'Forum Font', monospace;
}

.script-font {
    font-family: var(--script-font-family);
    font-size: 60pt;
}

h1 {
    font-size: 60pt;
}

h2 {
    font-size: 40pt;
}

.h2-no-margin{
    margin-bottom: 0;
}

.h3-no-margin{
    margin-top: 0;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 20pt;
    font-family: 'Forum Font', monospace;
}

.rap_photo {
    width: 90vw;
    height: auto;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.and {
    max-height: 100rem;
    max-width: 100rem;
    min-width: 30rem;
    min-width: 30rem;
}

/* New styles for the columns */
.columns {
    display: flex;
    margin: 20px; /* Add some margin around the columns container */
}

.column {
    padding: 20px; /* Add some padding inside each column */
    background-color: var(--main-bg-color); /* Use the CSS variable */
    text-align: center; /* Center text inside the columns */
}

.column-35 {
    flex: 0 0 35%; /* Flex-grow, flex-shrink, and flex-basis set to 35% */
}

.column-65 {
    flex: 1; /* Flex-grow set to 1 to take the remaining space */
}

.white-border{
    border: 2px solid var(--border-color); /* Add white border */

}

main {
    padding: 20px;
    text-align: center;
}

main, footer {
    background-color: var(--main-bg-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 960px) {
    .navbar {
    justify-content: space-evenly;
    flex-direction: row;
    }

}

@media screen and (max-width: 960px) and (min-width: 20px) {
    h1 {
    font-size: 55pt;
    }
    h2 {
    font-size: 2rem;
    }
    h4 {
    font-size: 1.5rem;
    }
}
